:root {
  --background: #fcf3e3;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

/* apply Sigmar One via the injected CSS variable */
h1 {
  font-family: var(--font-sigmar-one);
  color: #013d5a;
  text-align: center;
}

h2 {
  font-family: var(--font-sigmar-one);
  color: #013d5a;
  text-align: center;
}

p {
  font-family: var(--font-montserrat);
}

.title {
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.home {
  border: none;
  background-color:#fcf3e3;
  border-radius: 100%;
  position: absolute;
  right: 90%;
  padding: 1%;
}

.home:active{
  background-color:#ffb979;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .home {
    position: static;
    transform: none;
    padding: 2%;
  }
}